* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;  
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F4F0F0;
}

body,
header,
section,
article,
footer,
p,
h1,
h2,
{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 20px;
  color: #666;
  line-height: 1.7;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

body > header,
body > footer {
  background: #fff;
  color: #666;
  padding: 1rem 0;
  text-align: center;
  margin-top: 0;
}

header h1 {
  font-size: 18px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 800;
  color: #545454;
}

.heading {
  width: 60%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.main-header {
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px 5%;
  background-color: #F4F0F0;
  border-bottom: 1px solid rgb(45,45,45, 0.1);
}

.main-header h1 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

header a,
footer a {
  text-decoration: none;
}

footer {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px 3%;
  color: #F36B2D;
  background-color: #F4F0F0;
}

footer a h1 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.footer {
  display: block;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  background-color: #F4F0F0;
  border-top: 1px solid rgb(45,45,45, 0.1);
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #181829;
  line-height: 1.4em;
  margin-bottom: 15px;
  text-shadow: ;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
p {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding-bottom: 20px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#bold {
  font-weight: bold;
}

#italic {
  font-style: italic;
  font-size: 16px;
}

.content {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 30px 30px;
}

.content2 {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 30px 30px;
}

#header {
  text-align: center;
  padding-bottom: 1rem;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
}

.call-to-action > #wrapper2 {
  max-width: 960px;
  margin: 0 auto;
}

.benefits > #wrapper2 {
  max-width: 600px;
  margin: 0 auto;
}

.bg-img {
  background-image: url("../images/intro-to-computer-programming.png"); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  margin: 0;
  box-shadow: inset 0 0 0 50vw rgba(244, 240, 240,0.9);
}

.ad-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.ad-main p {
  font-size: 18px;
  color: #545454;
}

.left-text {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-text h1 {
  font-weight: 800;
  color: #F36B2D;
}

.right-text {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid-divider {
  width: 3%;
  display: inline-block;
  border-left: 3px solid #F36B2D;
  height: 200px;
  margin-right: 5px;
  margin-left: 5px;
}

.sub-main {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  clear: both;
}

.sub-main h2 {
  font-size: 22px;
  padding-bottom: 20px;
}

.levels {
  background: #F36B2D;  
  margin: 0 auto;
}

.lvl-box {
  width: 100%;
  margin: 0 auto;
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background: #F36B2D;    
}

.flex-item-left {
  flex: 3%;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #545454;  
  border: none;
  background: rgba( 224, 79, 13, 0.2);
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 20px;
  padding: 30px 60px 30px 60px;
}

.flex-item-right {
  flex: 3%;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #545454;  
  border: none;
  background: rgba( 224, 79, 13, 0.2);
  border-radius: 6px;
  padding: 24px;  
  font-size: 24px;
  font-weight: bold;
  margin: 40px 20px;
  padding: 30px 55px 30px 55px;
}

.flex-item-left:first-child {
  margin-left: 40px;
}

.flex-item-right {
  margin-right: 40px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  background: #F36B2D;
}

.overview h1, .details h1 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.overview p {  
  color: #fff;
}

#ov1 {
  width: 30%;
  height: 15%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 10px;
  background: #F36B2D;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

#ov2{
  width: 70%;
  flex: 10%;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 20px 10px 30px 10px;
  padding: 10px 30px 10px 30px;  
  font-size: 18px;
  border-radius: 10px;
  overflow: auto;   
}

.sec-divider {
  width: 96%;
  display: inline-block;
  border-bottom: 2px dotted rgba(0,0,0, 0.1);
  margin: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.dtls-box {
  margin: 0;
}

/*Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 5px;
  display: auto;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F36B2D; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 5px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F36B2D; 
  opacity: 0.5;
}

.faq {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F36B2D;
  margin-top: 20px;
}

.faq h1 {
  margin: 20px 0px 45px 0px;
  color: #fff;
}

.faq h1:after {
    content: "";
    display: block; 
    margin: 0 auto; 
    width: 10%; 
    padding-top: 20px; 
    border-bottom: 3px solid #fff; 
}

details {
  width: 90%;
  margin: 0;
  text-align: left;
}

summary {
  font-size: 20px;
  outline: none;
  color: #fff;
  text-align: left;
  border: none;
  margin: 20px;
}

details > p {
  color: #fff;
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  margin-right: 60px;
  word-wrap: break-word;
  opacity: 0.9;
}

.details-cont:last-child{
    margin-bottom: 30px;
    margin-left: 30px;
}

 .ctc-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
 }

 .reg {
    flex: 20%;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: right;
    margin-top: 30px;
 }

 .reg p {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: normal;
 }

 .promo {
    flex: 50%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right: 25px;
    margin-left: 30px;
 }

 .reg h2 {
    text-decoration: line-through;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: normal;
    font-size: 40px;
 }

 .promo h1 {
    font-size: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #F36B2D;
    line-height: normal;
 }

 .promo p {
    font-size: 18px;
    font-style: italic;
    padding-top: 0px;
    margin-top: 0px;
    line-height: 1.7;
 }

 .benefits {
    flex: 50%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
 }

 .benefits h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(115, 115, 115, 0.5);
    padding-bottom: 20px;
    padding-top: 0px;
    line-height: normal;
 }


#center {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 15px;
}

.logo img {
    margin: 0;
    cursor: pointer;
    width: 20%;
}

.ftr-logo img {
    width: 20%;    
}

div {
    display: block
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#btn {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.fa-facebook {
    color: #F36B2D;
}

.ftr-logo {
  justify-content: center;
  align-items: center;    
  text-align: center;
}
  
.social {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social h2 {
  font-size: 22px;
  padding: 0;
}

.copyright {
  display: flex;
  flex-direction: flex-end;
  justify-content: center;
  align-items: center;
  color: #545454;
  font-size: 16px;
  font-weight: 400;
  clear: both;
  margin: 0 auto;
}

.copyright:hover {  
  cursor: pointer;
}

#min {
  min-width: 200px;
}

.fa {
  color: #F36B2D;
  padding: 5px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 10px;
}

.fa:hover {
  color: #666;
  opacity: 0.8;  
}

button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.button {
  width: 100%;
  box-sizing: border-box;
  background: #F36B2D;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255,255,255, 0.9);
  color: #F36B2D;
  border: 1px solid #F36B2D;
}

.btn-bottom {
  max-width: 300px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.btn-bottom p {
  margin-top: 15px;
}

.benefits button {
  margin-top: 60px;
}

@media (max-width: 800px) {
.bg-img {
    background-image: url("../images/intro-to-computer-programming.png"); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: inset 0 0 0 50vw rgba(244, 240, 240,0.9);
  }

.heading {
    width: 100%;
    font-size: 16px;
  }

.ad-main {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.mid-divider {
    display: none;
  }

.left-text, .right-text {
    width: 100%;
  }

.left-text h1 {
    font-size: 25px;
  }

.ad-main {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.mid-divider {
    display: none;
  }

.left-text, .right-text {
    width: 100%;
  }

.left-text {
    margin-bottom: 20px;
  }

.flex-item-right, .flex-item-left {
    flex: 60%;
    margin: 10px 20px 0px 20px;
    text-align: center;
    justify-content: center;
  }  
.flex-item-right:last-child{
    margin-bottom: 20px;
  }

.flex-item-left:first-child {
  margin-left: 20px;
  margin-top: 20px;
  }

.overview {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left; 
}

#ov1, #ov2 {
  margin: 20px;
  padding: 10px;
  width: 90%;
}  

.ctc-top {
    flex: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
    margin: 40px 0px 15px 0px;    
  }

.promo h1 {
    font-size: 40px;
  }

.reg {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.reg p {
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: normal;
    margin-left: 5px;
  }

.logo img {
    width: 60%
  }

footer, .footer, .social, .copyright, .fa, .ftr-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.copyright {
    margin-top: 15px;
  }

.copyright p {
    font-size: 14px;
    line-height: normal;
  }
}